## Initializing ION
# =========================
## .ionrc
# =========================

# Ion node number = 1
1 1 ''
# Start running
# program: rfxclock
s


# =========================
## .bprc
# =========================
1
# add EID scheme
a scheme ipn 'ipnfw' 'ipnadminep'
# a endpoint ipn:X.Y x

# =========================
### Add a protocol for external nodes
# =========================
a protocol ltp 1400 100

# =========================
### Add Inducts
# =========================
a induct ltp 1 ltpcli

# =========================
### Add Outducts
# =========================
a outduct ltp 1 ltpclo
a outduct ltp 2 ltpclo
#start delcared schemes
s

# =========================
## .ipnrc
# =========================
a plan 1 ltp/1
a plan 1 ltp/2

# =========================
## .ltprc
# =========================
1 32
